
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body{
    background: url(../img/xps-g2E2NQ5SWSU-unsplash.jpg) no-repeat;
    font-size: 10px;
    height: 100vh;
    background-size: cover;
    background-position: center ;

    /* background: url("") center / cover */
}



h3{
    font-size: 2.6rem;
    text-align: center;
    color: lightgray;
    background: black;
    opacity: 0.4;
    padding: 20px;
    margin: 20px;
}